.ticket-container {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 320px;
  box-sizing: border-box;
  padding: 0 12px 0 4px;
}

.ticket {
  box-sizing: border-box;
  box-shadow: 0 3px 10px #ccc;
  border-radius: 4px;
}

h5 {
  padding: 16px;
  margin: 0;
}

.description {
  display: block;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
}

.action {
  text-align: center;
  padding-top: 10px;
  display: block;
  height: 50px;
  box-sizing: border-box;
}
